@using SW.Presentation.Models
@{
    ViewBag.Title = "Index";
}

<h2>Cesta de compras</h2>

@{
    if (Session["cesta"] != null)
    {
        CestaCompra cesta = (CestaCompra)Session["cesta"];

        <table style="width: 100%" class="table">

            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Promoção</th>
                    <th>Preco</th>
                    <th>Quantidade</th>
                    <th>Total</th>
                    <th>Operações</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in cesta.Itens)
                {
                    <tr>

                        <td> @item.Produto.Nome </td>
                        <td> @item.Produto.ProdutoPromocao.Promocao.Titulo </td>
                        <td> @String.Format("{0:c}", item.Produto.Preco) </td>
                        <td> @item.Quantidade </td>
                        <td> @String.Format("{0:c}", item.ValorTotal) </td>
                        <td>

                            @Html.ActionLink("+", "Incrementar",
                                            new { id = item.Produto.Id },
                                            new { @class = "btn btn-info" })

                            @Html.ActionLink("-", "Decrementar",
                                            new { id = item.Produto.Id },
                                         new { @class = "btn btn-info" })

                            @Html.ActionLink("Remover", "Remover",
                                            new { id = item.Produto.Id },
                                         new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </tbody>

            <tfoot>
                <tr>
                    <td colspan="6">Total da Cesta de Compras: @String.Format("{0:c}", cesta.Total)  </td>
                </tr>
            </tfoot>

        </table>

    }
    else
    {
        <p>
            Cesta de Compras vazia.
        </p>
    }
}
