@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/SiteAdmin.css" rel="stylesheet" />


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/scripts.js"></script>
</head>
<body style="padding-top:70px">
    <div class="loading modal-backdrop fade in" id="loading">
        <img src="~/imagens/loader_profile.gif" />
    </div>

    @Html.Partial("_Topo")

    <div class="container-fluid main-container">
        <div style="padding-left:2%">

            @Html.Partial("_MenuLateral")

            <div class="col-md-10 content">
                @RenderBody()
            </div>

        </div>

        @Html.Partial("_Rodape")

    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
